

        body{background-color: grey;}
        body{font-size: 16px;}
        h1{color: orange;}
        h1{font-family: sans-serif;}
       .lol{font-style: oblique;}
       .lol{background-color: green;}
       .lol{text-decoration: indigo;}
        p{font-weight: 600;}
        p{font-size: 48px;}
        p{line-height: 5;}
        ul{line-height: 3;}
        #ab{color: yellow;}
        #cd{color: red;}
        #ef{color: brown;}
   